@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

@font-face {
    font-family: "larsseit";
    src: url("../fonts/Larsseit/larsseit.woff2") format("woff2"),
    url("../fonts/Larsseit/larsseit.woff") format("woff"),
    url("../fonts/Larsseit/larsseit.ttf") format("truetype"),
    url("../fonts/Larsseit/Larsseit.otf") format("opentype"),
    url("../fonts/Larsseit/larsseit.svg") format("svg"),
    url("../fonts/Larsseit/larsseit.eot");
    font-weight: normal;
    font-style: normal;
}

html {
    background-color: black;
    height: 100vh;
    width: 100vw;

    background-image: radial-gradient(
        rgba(2255, 255, 255, 0.08) 9%,
        transparent 9%
    );
    background-position: 0% 0%;
    background-size: 5vmin 5vmin;

    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;

    transition: opacity 800ms ease,
        background-size 800ms ease;
}

@font-face {
    font-family: "larsseititalic";
    src: url("../fonts/Larsseit Italic/larsseit-italic.woff2") format("woff2"),
    url("../fonts/Larsseit Italic/larsseit-italic.woff") format("woff"),
    url("../fonts/Larsseit Italic/larsseit-italic.ttf") format("truetype"),
    url("../fonts/Larsseit Italic/Larsseit-italic.otf") format("opentype"),
    url("../fonts/Larsseit Italic/larsseit-Italic.svg") format("svg"),
    url("../fonts/Larsseit Italic/larsseit-italic.eot");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "larsseitbold";
    src: url("../fonts/Larsseit Bold/larsseit-bold.woff2") format("woff2"),
    url("../fonts/Larsseit Bold/larsseit-bold.woff") format("woff"),
    url("../fonts/Larsseit Bold/larsseit-bold.ttf") format("truetype"),
    url("../fonts/Larsseit Bold/Larsseit-Bold.otf") format("opentype"),
    url("../fonts/Larsseit Bold/larsseit-bold.svg") format("svg"),
    url("../fonts/Larsseit Bold/larsseit-bold.eot");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "larsseitbolditalic";
    src: url("../fonts/Larsseit Bold Italic/larsseit-bolditalic.woff2") format("woff2"),
    url("../fonts/Larsseit Bold Italic/larsseit-bolditalic.woff") format("woff"),
    url("../fonts/Larsseit Bold Italic/larsseit-bolditalic.ttf") format("truetype"),
    url("../fonts/Larsseit Bold Italic/Larsseit-BoldItalic.otf") format("opentype"),
    url("../fonts/Larsseit Bold Italic/larsseit-bolditalic.svg") format("svg"),
    url("../fonts/Larsseit Bold Italic/larsseit-bolditalic.eot");
    font-weight: normal;
    font-style: normal;
}